* {
  direction: rtl;
  unicode-bidi: embed; /* bidi-override */
}

/* Arrows */
.fa-angle-left:before {
  content: "\f105";
}
.fa-angle-right:before {
  content: "\f104";
}
.testimonials-v6 .owl-next:after {
  content: "\f104";
}
.testimonials-v6 .owl-prev:after {
  content: "\f105";
}

.tp-bullets {
	left: auto !important;
	right: 100%;

  -moz-transform: matrix(1, 0, 0, 1, 141, -67) !important;
  -ms-transform: matrix(1, 0, 0, 1, 141, -67) !important;
  -webkit-transform: matrix(1, 0, 0, 1, 141, -67) !important;
  -o-transform: matrix(1, 0, 0, 1, 141, -67) !important;
  transform: matrix(1, 0, 0, 1, 141, -67) !important;
}
