/*--------------------------------------------------
  [1.Topbar ]
----------------------------------------------------*/
.header-v9.navbar {
  border: none;
  padding: 0;
  margin: 0;
}

/* Hide topbar on scroll transition */
.header-v9.navbar .topbar {
	transition: all 0.4s ease-in-out 0s;
}
.header-v9.navbar.top-nav-collapse .topbar {
	margin-top: -125px;
	transition: all 0.4s ease-in-out 0s;
}

/* Header Topbar */
.header-v9 .container-fluid.bg-1 {
	background: #fff;
}
.header-v9 .topbar .logo {
	float: left;
	text-align: center;
	height: auto;
	padding: 35px 28px;
}
.header-v9 .topbar .logo img {
	margin: 0 auto;
	max-height: 50px;
}
.header-v9 .topbar .logo a {
	color: #2a2a2b;
	text-transform: uppercase;
	font-size:20px ;
	font-weight: bold;
}
.header-v9 .topbar .logo a:hover {
	color: #2a2a2b;
	text-decoration: none;
}

/* Topbar 3 blocks */
.header-v9 .topbar .topbar-block {
	padding-top: 30px;
	padding-bottom: 30px;
}

/* Topbar blocks inside */
.header-v9 .topbar .topbar-block-in {
	padding: 6px 0 5px 10px;
	border-right: 1px solid #f1f1f1;
}
.header-v9 .topbar .topbar-block-in li.first-item {
	text-transform: uppercase;
	font-size: 11px;
}

/* Icons */
.header-v9 .topbar .topbar-block-in li.first-item .icon {
	color: #ff2c2c;
	font-size: 18px;
	margin-right: 5px;
	vertical-align: middle;
}
.header-v9 .topbar .topbar-block-in li.second-item {
	color: #2a2a2a;
	font-size: 13px;
	font-weight: bold;
	padding-left: 25px;
}

/* Social list */
.header-v9 .topbar .topbar-social {
	padding: 20px 10px;
}
.header-v9 .topbar .topbar-social ul {
	margin: 0;
}
.header-v9 .topbar .topbar-social li {
	display: inline;
	margin-right: 7px;
}
.header-v9 .topbar .topbar-social li.fb {
	margin-right: 0;
}
.header-v9 .topbar .topbar-social li a {
	background: #f1f1f1;
	color: #cfcfcf;
	padding: 11px 13px;
	font-size: 13px;
	transition: all .3s;
}
.header-v9 .topbar .topbar-social li.fb a {
	padding: 11px 15px;
}
.header-v9 .topbar .topbar-social li a:hover {
	background: #ff1919;
	color: #fff;
}
@media (max-width: 992px) {
	.header-v9 .topbar .topbar-block-in {
		padding-left: 0;
	}
	.header-v9 .topbar .topbar-social {
	  padding: 20px 0;
	}
}
@media (max-width: 768px) {
	.header-v9 .topbar .topbar-block-in {
		border: none;
	}
}
@media (max-width: 600px) {
	.header-v9 .topbar .topbar-block {
		display: none;
	}
	.header-v9 .topbar .topbar-block.first {
		display: block;
		float: right;
		width: 50%;
		padding: 35px 0 0;
	}
	.header-v9 .topbar .topbar-block span {
		display: none;
	}
	.header-v9 .topbar .topbar-block-in li.second-item {
		padding: 0;
	}
}

/*--------------------------------------------------
  [2.Header ]
----------------------------------------------------*/
/* Header menu */
.header-v9 .container-fluid.bg-2 {
	background: #2a2a2a;
}

/* Transition on scroll */
@media (min-width: 768px){
	.header-v9 .container-fluid.bg-2 {
		padding: 10px 0px;
	  transition: padding 0.3s ease-in-out 0s;
	}
	.header-v9.top-nav-collapse .container-fluid.bg-2 {
		padding: 5px 0px;
	}
}

/* List items */
.header-v9 .navbar-nav li a,
.header-v9 .navbar-nav li a:focus {
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
}
.header-v9 .navbar-nav li a {
	padding: 15px;
}

/* On active */
.header-v9.navbar-default .navbar-nav > .active > a,
.header-v9.navbar-default .navbar-nav > .active > a:focus,
.header-v9.navbar-default .navbar-nav > .active > a:hover {
  color: #f00;
  background-color: transparent;
}

/* On hover and focus */
.header-v9.navbar-default .navbar-nav > li > a:hover {
  color: #f00;
}

/* The button */
.header-v9 .btn-u {
	margin-top: 6px;
	float: right;
	padding: 10px 15px;
}
@media (max-width: 992px){
	.header-v9 .btn-u {
		margin-top: 4px;
	}
}
@media (max-width: 768px){
	.header-v9 .btn-u {
		display: none;
	}
}

/* After breakpoint */
.header-v9 .navbar-collapse {
  border:none;
  box-shadow: none;
}

/* Toggle button */
.header-v9.navbar-default .navbar-toggle {
  border: none;
}

.header-v9 .navbar-toggle .icon-bar {
  height: 1px;
  background: #f00;
}

.header-v9 .navbar-toggle .icon-bar + .icon-bar {
  margin-top: 5px;
}

/* Toggle button on hover and focus */
.header-v9.navbar-default .navbar-toggle:focus,
.header-v9.navbar-default .navbar-toggle:hover {
  background: transparent;
}

/* Responsive */
@media (max-width: 1200px) {
	.header-v9 .navbar-nav li a {
		font-size: 10px;
		padding: 16px 10px;
	}
	.header-v9 .navbar-nav li a.header-btn {
		margin-left: 300px;
	}
}
@media (max-width: 992px) {
	.header-v9 .navbar-nav li a {
		padding: 12px 7px;
	}
	.header-v9 .navbar-nav li a.header-btn {
		margin-left: 150px;
		padding: 5px 10px;
	}
}
@media (width: 768px) {
	.header-v9 .navbar-nav li a.header-btn {
		margin-left: 100px;
	}
}
@media (max-width: 768px) {
	.header-v9 .navbar-nav {
		margin: 50px 0 20px;
	}
	.header-v9 .navbar-nav li a {
		font-size: 11px;
	}
	.header-v9 .navbar-nav li a.header-btn {
		max-width: 100px;
		margin-left: 0;
	}
	.header-v9.navbar-default {
	  background-color: #2a2a2a;
	}
}
