* {
  direction: rtl;
  unicode-bidi: embed; /* bidi-override */
}

/* Arrows */
.fa-angle-left:before {
  content: "\f105";
}
.fa-angle-right:before {
  content: "\f104";
}
.fa-chevron-left:before {
  content: "\f054";
}
.fa-chevron-right:before {
  content: "\f053";
}
.cbp-popup-wrap {
	overflow: hidden;
}
.testimonials-v3 .owl-buttons .owl-prev:after {
	content: "\f105";
}
.testimonials-v3 .owl-buttons .owl-next:after {
  content: "\f104";
}
.cbp-popup-lightbox-img {
	margin-left: auto;
	margin-right: auto;
}
